.clockcontainer{
    height: 500px;
    width: 500px;
    border: 20px solid #00818a;
    border-radius: 50%;
    margin: auto;
    position: relative;
}
.point{
   
    height: 20px;
    width: 20px;
    background-color: #283149;
    border-radius: 50%;
    position: absolute;
    top: 240px;
    left: 240px;
}
.hour{
    font-size: 30px;
    font-weight: bold;
    color: #283149 ;
    position: absolute;
}
.hour1{
top: 40px;
right: 130px;
}
.hour2{
    top: 125px;
    right: 45px;
}
.hour3{
    top: 235px;
    right: 10px;
}
.hour4{
    top: 345px;
    right: 45px;
}
.hour5{
    top: 430px;
    right: 130px;
}
.hour6{
    bottom: 10px;
    right: 240px;
}
.hour7{
    top: 430px;
    left: 130px;
}
.hour8{
    top: 345px;
    left: 45px;
}
.hour9{
    top: 235px;
    left: 10px;
}
.hour10{
    top: 125px;
    left: 45px;
}
.hour11{
    top: 40px;
    left: 130px;
}
.hour12{
    top: 10px;
    left: 235px;
}
.brand{
    font-size: 20px;
    font-weight: bold;
    color: #00818a;
    position: absolute;
    top: 90px;
    left: 42.5%;
}
.minute-hand-wrapper{
    width: 400px;
    height: 400px;
    border-radius: 50%;
    
    position: absolute;
    top: 50px;
    left: 50px;
}
.minute-hand{
    position: relative;
}
.minute-hand .hand{
    height:200px ;
    width:4px ;
    background-color: #404b69;
    position: absolute;
    left: 198px;
}
.minute-hand .arrow{
    font-size: 30px;
    font-weight: bold;
    color: #404b69;
    transform: rotate(180deg);
    position: absolute;
   left: 190px;
   top: -7px;
}
.hour-hand-wrapper{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    
    position: absolute;
    top: 100px;
    left: 100px;
}
.hour-hand{
    position: relative;
}
.hour-hand .hand{
    height:150px ;
    width:4px ;
    background-color: #404b69;
    position: absolute;
    left: 148px;
}
.hour-hand .arrow{
    font-size: 30px;
    font-weight: bold;
    color: #404b69;
    transform: rotate(180deg);
    position: absolute;
   left: 140px;
   top: -7px;
}
.second-hand-wrapper{
    width: 350px;
    height: 350px;
    border-radius: 50%;
    
    position: absolute;
    top: 75px;
    left: 75px;
}
.second-hand{
    position: relative;
}
.second-hand .hand{
    height:175px ;
    width:2px ;
    background-color: #404b69;
    position: absolute;
    left: 174px;
   
}